<div class="page-header">
  <h1>Pat Needham<small> welcome!</small></h1>
</div>

<div class="box panel-default">
  <div class="col-xs-12 col-md-8">
    <h2><%= link_to 'about me', about_index_path, id: 'about' %></h2>
  </div>

  <div class="col-xs-12 col-md-8">
    <h2><%= link_to 'my work', root_path, id: 'work' %></h2>
  </div>

  <div class="col-xs-12 col-md-8">
    <h2><%= link_to 'blog', root_path, id: 'blog' %></h2>
  </div>
</div>


<div index="left-split">

</div>
