<div class="page-header">
  <h1>Pat Needham</h1>
</div>

<div class="row">
  <div class="panel">
      <div class="col-xs-12 col-md-8">
        <h2>blog</h2>
      </div>

      <div class="col-xs-6 col-md-4">
        <h2><%= link_to 'back', root_path, id: 'back' %></h2>
      </div>
  </div>
</div>

<div class="row">
  <div class=".col-md-2 col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>up and running</h3>
        <p>blog so hard</p>
      </div>
    </div>
  </div>
</div>
